[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
environs = "*"
mysqlclient = "*"
pillow = "*"
djangorestframework-simplejwt = "*"
django-cors-headers = "*"
django-rest-swagger = "*"
drf-yasg = "*"
setuptools = "*"

[dev-packages]

[requires]
python_version = "3.12"
