/* Modal styling */
.custom-alert-modal .modal-content {
  background-color: #292727;
  color: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
  border: none;
  animation: fadeIn 0.3s ease-out;
}

.custom-alert-modal .modal-backdrop {
  backdrop-filter: blur(6px);
  background-color: rgba(0, 0, 0, 0.5);
}


.custom-alert-body {
  display:flexbox;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.alert-content {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}

.alert-icon-danger {
  font-size: 40px;
  color: #ff4c4c;
  animation: bounce 1s infinite alternate;
}

.alert-text-danger h5 {
  font-weight: bold;
  color: #ff4c4c;
  margin-bottom: 5px;
}

.alert-text p {
  color: #f1f1f1;
  margin: 0;
}

.alert-text a {
  color: #0dcaf0;
  font-weight: bold;
  text-decoration: none;
}

.alert-text a:hover {
  text-decoration: underline;
}

.alert-icon-warning {
  font-size: 40px;
  color: #ffed4c;
  animation: bounce 1s infinite alternate;
}

.alert-text-warning h5 {
  font-weight: bold;
  color: #ffed4c;
  margin-bottom: 5px;
}

.alert-icon-success {
  font-size: 40px;
  color: #67ff4c;
  animation: bounce 1s infinite alternate;
}

.alert-text-success h5 {
  font-weight: bold;
  color: #67ff4c;
  margin-bottom: 5px;
}

/* Close button styling */
.close-btn {
  margin-top: 10px;
  font-weight: bold;
  color: #ff4c4c;
  border-color: #ff4c4c;
  padding: 8px 20px;
  border-radius: 8px;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(-5px); }
}
