/* Modal styling */
.custom-alert-modal .modal-content {
  background: rgba(0, 0, 0, 0.95);
  border-radius: 12px;
  padding: 20px;
  animation: fadeIn 0.3s ease-out;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border: none;
}

.custom-alert-modal .modal-backdrop {
  backdrop-filter: blur(6px); /* Apply blur effect */
  background-color: rgba(0, 0, 0, 0.4); /* Dim background */
}

.custom-alert-body {
  display:flexbox;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.alert-content {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-bottom: 20px;
}

.alert-icon-danger {
  font-size: 40px;
  color: #ff0400;
  justify-self:left;
  animation: bounce 1s infinite alternate;
}

.alert-text-danger h5 {
  font-weight: bold;
  color: rgb(255, 0, 0);
  text-transform: uppercase;

}

.alert-text-danger p {
  color: rgb(255, 0, 0);
  margin: 0;
}

.alert-icon-warning {
  font-size: 40px;
  color: #fff200;
  justify-self:left;
  animation: bounce 1s infinite alternate;
}

.alert-text-warning h5 {
  font-weight: bold;
  color: #fff200;
  text-transform: uppercase;

}

.alert-text-warning p {
  color:#fff200;
  margin: 0;
}

.alert-icon-success {
  font-size: 40px;
  color: rgb(57, 198, 57);
  justify-self:left;
  animation: bounce 1s infinite alternate;
}

.alert-text-success h5 {
  font-weight: bold;
  color: rgb(57, 198, 57);
  text-transform: uppercase;

}

.alert-text-success p {
  color: rgb(57, 198, 57);
  margin: 0;
}

/* Animation */
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes bounce {
  from { transform: translateY(0); }
  to { transform: translateY(-5px); }
}
