.error-container {
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(255, 0, 0);
}

.warning-container {
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgb(255, 225, 0);
}

.username{
    text-transform:capitalize;
    margin-left: 1rem;
}

.profile-card{
    max-width: 200px;
}

.profile-pic{
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-right: 3rem;
    outline:auto;
    outline-style:groove;
    outline-offset: 10px;
    outline-color: rgb(12, 12, 12);
}
.dashboard-pic{
    outline: auto;
    outline-style:groove;
    /* outline-offset: 10px; */
    outline-color: rgb(5, 12, 214);
    margin-left: 10px;
}