.box {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    margin-bottom: 2rem;
}

.title {
    margin-top: 1rem;
    color: #333;
    text-align: center;
}

.footer {
    margin-top: 1rem;
}
