@import '../../index.css';


/* Global Styles */
body {
    font-family: "Poppins", sans-serif;
}

/* Login Container */
.login-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

/* Row Styling */
.login-row {
    width: 90%;
    max-width: 1100px;
    display: flex;
    align-items: center;
    background-color: #f8f9fa;
    /* Light gray background */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
}

/* Left Side - Login Box */
.login-box {
    background: var(--color-dark);
    color: var(--color-bg);
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.login-content {
    width: 100%;
    max-width: 400px;
}

.login-title {
    font-size: 28px;
    font-weight: bold;
}

.login-subtitle {
    font-size: 14px;
    margin-bottom: 20px;
    color: var(--color-bg);
}

/* Form Styling */
.form-password {
    background: #252525;
    border: none;
    color: white;
    padding: 12px;
}

.form-username {
    background: #252525;
    border: none;
    color: white;
    padding: 12px;
}

.form-username::placeholder {
    color: #888;
}

.form-password::placeholder {
    color: #888;
}

.password-group {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #aaa;
}


/* Login Button */
.login-btn {
    width: 100%;
    background: var(--color-primary);
    border: none;
    padding: 12px;
    margin-top: 15px;
}



/* Right Side - Image Container */
.login-image-container {
    background: linear-gradient(135deg, #002F86, #001B4E);
    color: white;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image h2 {
    font-size: 28px;
    font-weight: bold;
}

.login-image span {
    color: var(--color-accent);
}

.login-image p {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.8;
}


.login-image {
    max-width: 52%;
    height: auto;
}